<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page</title>
</head>
<body>
    <h2>Main page</h2>
    <div>
        <p th:text="${user.username}">Default User</p>
        <a th:href="@{/add-task}">add task</a>

        <div th:if="${tasks != null and !tasks.isEmpty()}">
            <ul>
                <li th:each="task : ${tasks}">
                    <p><strong>Title:</strong> <span th:text="${task.title}"></span></p>
                    <p><strong>Description:</strong> <span th:text="${task.description}"></span></p>
                    <p><strong>Due Date:</strong> <span th:text="${task.dueDate}"></span></p>
                    <!-- Кнопка "Редактировать" -->
                    <a th:href="@{/edit-task/{id}(id=${task.id})}">Edit</a>
                    <!-- Кнопка "Удалить" -->
                    <form th:action="@{/delete-task/{id}(id=${task.id})}" method="post" style="display:inline;">
                        <button type="submit">Delete</button>
                    </form>
                    <hr>
                </li>
            </ul>
        </div>
        <div th:if="${tasks == null or tasks.isEmpty()}">
            <p>You have no tasks yet.</p>
        </div>
    </div>
</body>
</html>
